// set custom hex colors
$siteBgColorCustom:    #ffffff;        // white
$sidebarBgColorCustom: #f5f4f2;        // pale gray
$textColorCustom: #62676e;             // dk gray
$sidebarTextColorCustom: #0a0a0a;      // black
$headlineColorCustom: #242629;         // black
$headingColorCustom: #242629;          // black
$bodyLinkColorCustom: #171717;         // dark
$navLinkColorCustom: #242629;          // black
$sidebarLinkColorCustom: #171717;      // dark
$footerTextColorCustom: #0a0a0a;       // black
$buttonTextColorCustom: #f5f4f2;       // pale gray
$buttonHoverTextColorCustom: #fff;     // white
$buttonBgColorCustom: #242629;         // black
$buttonHoverBgColorCustom: #171717;    // dark
$borderColorCustom: #171717;           // dark
